body,html{
	margin:0;
	padding:0;
}
html {
	background:#f9f6f4;
	font-size:16px;
}
main {
	position: absolute;
	top: 50px;
	left:10%;
	width:80%;
	margin: 0 auto;
}
input{
	margin:0 auto;
	height:50px;
	width:100px;
	border:none;
	outline:none;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.header {
	background:rgba(254,249,246,.8);
	position:fixed;
	left:0;
	right:0;
	height:45px;
	text-align:center;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,.5);
	content:"Header Goes Here";
	width: 100%;
	font-size:2em;
}
.logo {
	background: url(http://zacharney.com/logo.svg) no-repeat center center;
	background-size: contain;
	background-clip: content-box;
	height:100px;
	width:auto;
	margin:10px auto;
	text-indent:-9999px;
	box-sizing:border-box;
}
	
